@model ozo.Models.ViewPosao

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Posao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DodatniTrosak" class="control-label"></label>
                <input asp-for="DodatniTrosak" class="form-control" />
                <span asp-validation-for="DodatniTrosak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeOd" class="control-label"></label>
                <input asp-for="VrijemeOd" class="form-control" />
                <span asp-validation-for="VrijemeOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeDo" class="control-label"></label>
                <input asp-for="VrijemeDo" class="form-control" />
                <span asp-validation-for="VrijemeDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UslugaId"></label>
                <div><span asp-validation-for="UslugaId" class="text-danger" /></div>
                <select class="form-control" asp-for="UslugaId" asp-items="ViewBag.UslugaList">
                    <option disabled selected value="">Odaberite uslugu</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="KategorijaId"></label>
                <div><span asp-validation-for="KategorijaId" class="text-danger" /></div>
                <select class="form-control" asp-for="KategorijaId" asp-items="ViewBag.ZanimanjeList">
                    <option disabled selected value="">Odaberite zanimanje</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="LokacijaPoslaId"></label>
                <div><span asp-validation-for="LokacijaPoslaId" class="text-danger" /></div>
                <select class="form-control" asp-for="LokacijaPoslaId" asp-items="ViewBag.LokacijaList">
                    <option disabled selected value="">Odaberite zanimanje</option>
                </select>
            </div>


            <div class="form-group">
                <label asp-for="OpremaId"></label>
                <div><span asp-validation-for="OpremaId" class="text-danger" /></div>
                <select class="form-control" asp-for="OpremaId" asp-items="ViewBag.OpremaList">
                    <option disabled selected value="">Odaberite zanimanje</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

