@model ozo.Models.Natjecaj

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Natjecaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NatjecajId" />
            <div class="form-group">
                <label asp-for="Naziv"></label>
                <div><span asp-validation-for="Naziv" class="text-danger" /></div>
                <input asp-for="Naziv" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Opis"></label>
                <div><span asp-validation-for="Opis" class="text-danger" /></div>
                <input asp-for="Opis" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Vrijednost"></label>
                <div><span asp-validation-for="Vrijednost" class="text-danger" /></div>
                <input asp-for="Vrijednost" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="VrijemeOd"></label>
                <div><span asp-validation-for="VrijemeOd" class="text-danger" /></div>
                <input asp-for="VrijemeOd" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="VrijemeDo"></label>
                <div><span asp-validation-for="VrijemeDo" class="text-danger" /></div>
                <input asp-for="VrijemeDo" class="form-control" />
            </div>

            <div class="form-group">

                <label asp-for="VrstaNatjecajaId"></label>
                <div><span asp-validation-for="VrstaNatjecajaId" class="text-danger" /></div>
                <select class="form-control" asp-for="VrstaNatjecajaId" asp-items="ViewBag.vrsta">
                    <option disabled selected value="">Odaberite vrstu</option>
                </select>

            </div>

            <div class="form-group">

                <label asp-for="RaspisateljId"></label>
                <div><span asp-validation-for="RaspisateljId" class="text-danger" /></div>
                <select class="form-control" asp-for="RaspisateljId" asp-items="ViewBag.Raspisatelj">
                    <option disabled selected value="">Odaberite raspisatelja</option>
                </select>

            </div>



            <div class="form-group">

                <label asp-for="PobiednikId"></label>
                <div><span asp-validation-for="PobiednikId" class="text-danger" /></div>
                <select class="form-control" asp-for="PobiednikId" asp-items="ViewBag.Raspisatelj">
                    <option disabled selected value="">Odaberite pobjednika</option>
                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

