@model ozo.Models.Servis

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Servis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServisId" />
            <div class="form-group">
                <label asp-for="ServiserId"></label>
                <div><span asp-validation-for="ServiserId" class="text-danger" /></div>
                <select class="form-control" asp-for="ServiserId" asp-items="ViewBag.ServiserList">
                    <option disabled selected value="">Odaberite lokaciju opreme</option>
                </select>
            </div>


            <div class="form-group">
                <label asp-for="OpremaId"></label>
                <div><span asp-validation-for="OpremaId" class="text-danger" /></div>
                <select class="form-control" asp-for="OpremaId" asp-items="ViewBag.OpremaList">
                    <option disabled selected value="">Odaberite Referentni Tip Opreme</option>
                </select>
            </div>



            <div class="form-group">

                <label asp-for="OsobaId"></label>
                <div><span asp-validation-for="OsobaId" class="text-danger" /></div>
                <select class="form-control" asp-for="OsobaId" asp-items="ViewBag.OsobaList">
                    <option disabled selected value="">Odaberite status opreme</option>
                </select>

            </div>



            <div class="form-group">
                <label asp-for="Opis"></label>
                <div><span asp-validation-for="Opis" class="text-danger" /></div>
                <input asp-for="Opis" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Cijena"></label>
                <div><span asp-validation-for="Cijena" class="text-danger" /></div>
                <input asp-for="Cijena" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

