@{
    ViewData["Title"] = "Report";
}

<h2 class="meni_l"><span class="glyphicon glyphicon-pencil"></span> Izvješća</h2>
<hr />
<div class="row">
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Osoba">Popis svih poslova</a>
    <a target="_blank" class="btn btn-block btn-default btn-lg" asp-action="Oprema">Popis svih poslova</a>


</div>
